force-app/main/default/flows/Attacher_BerceauContratCadre_a_table_de_prix_Ref.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Attacher &apos;BerceauContratCadre&apos; a table de prix Ref {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attacher &apos;BerceauContratCadre&apos; a table de prix Ref</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_berceaucontratcadre_id</name>
        <label>Get &apos;berceaucontratcadre&apos; id</label>
        <locationX>464</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_table_de_prix</targetReference>
        </connector>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BerceauContratCadre</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>product_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_table_de_prix</name>
        <label>update table de prix</label>
        <locationX>636</locationX>
        <locationY>76</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_table</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LPCR_Produit__c</field>
            <value>
                <elementReference>product_id</elementReference>
            </value>
        </inputAssignments>
        <object>LPCR_TablePrix__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_berceaucontratcadre_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>id_table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>product_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
