force-app/main/default/flows/FLOW_LienCrecheOpportunite_UpdateClosedOppty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignClosed</name>
        <label>AssignClosed</label>
        <locationX>855</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>idLienCrecheOppty.Tech_Opportunite_Fermee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.IsClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lien_creche_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_lien_creche_list</name>
        <label>Update lien creche list</label>
        <locationX>828</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>colUpdateLienCrecheOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>idLienCrecheOppty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLienCrecheOppty</targetReference>
        </connector>
    </assignments>
    <interviewLabel>FLOW_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_ LienCrecheOpportunite_UpdateClosedOppty</label>
    <loops>
        <name>LoopLienCrecheOppty</name>
        <label>LoopLienCrecheOppty</label>
        <locationX>588</locationX>
        <locationY>69</locationY>
        <assignNextValueToReference>idLienCrecheOppty</assignNextValueToReference>
        <collectionReference>IdLienOpptys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignClosed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLienOpptys</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetIdLienOpptys</name>
        <label>Get IdLienOpptys</label>
        <locationX>405</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLienCrecheOppty</targetReference>
        </connector>
        <filters>
            <field>Opportunite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <object>LienCrecheOpportunite__c</object>
        <outputReference>IdLienOpptys</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tech_Opportunite_Fermee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Id_Oppty</name>
        <label>Id_Oppty</label>
        <locationX>226</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIdLienOpptys</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpptyRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLienOpptys</name>
        <label>UpdateLienOpptys</label>
        <locationX>596</locationX>
        <locationY>388</locationY>
        <inputReference>colUpdateLienCrecheOppty</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Id_Oppty</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>colUpdateLienCrecheOppty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LienCrecheOpportunite__c</objectType>
    </variables>
    <variables>
        <name>idLienCrecheOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LienCrecheOpportunite__c</objectType>
    </variables>
    <variables>
        <name>IdLienOpptys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LienCrecheOpportunite__c</objectType>
    </variables>
    <variables>
        <name>IdOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
