force-app/main/default/flows/FLOW_Usage_PopulateMatchingID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Matching_Id</name>
        <label>Assign Matching Id</label>
        <locationX>718</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matching_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Matching_Id_B2B</name>
        <label>Assign Matching Id B2B</label>
        <locationX>969</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matching_Id_B2B</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>B2B_or_Micro</name>
        <label>B2B or Micro</label>
        <locationX>711</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B2B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_RT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entreprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matching_Id_B2B</targetReference>
            </connector>
            <label>B2B</label>
        </rules>
        <rules>
            <name>Micro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_RT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Famille</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matching_Id</targetReference>
            </connector>
            <label>Micro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Present</name>
        <label>Is Account Present?</label>
        <locationX>517</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Present_Not_Present</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account Present Not Present?</label>
        </rules>
    </decisions>
    <description>Flow to populate the Matching ID on Usage object.</description>
    <formulas>
        <name>Matching_Id</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact_Details.Id} +TEXT( {!$Record.LPCR_TypeEvenement__c}) + {!Get_Account_Detail.Id}</expression>
    </formulas>
    <formulas>
        <name>Matching_Id_B2B</name>
        <dataType>String</dataType>
        <expression>{!Get_Product_Detail.Id} + {!Get_Account_Detail.Id}</expression>
    </formulas>
    <interviewLabel>FLOW_Usage_Populate Matching ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_Usage_Populate Matching ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Detail</name>
        <label>Get Account Detail</label>
        <locationX>229</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_RT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_RT</name>
        <label>Get Account Record Type</label>
        <locationX>357</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Detail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Detail.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>99</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Detail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LPCR_ContactEnfant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Detail</name>
        <label>Get Product Detail</label>
        <locationX>493</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>B2B_or_Micro</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LPCR_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>43</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Account_Present</targetReference>
        </connector>
        <object>blng__Usage__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_RT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
