force-app/main/default/flows/FLOW_ValeurGlobale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SumSubscriptions</name>
        <label>SumSubscriptions</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TotalSubscriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countSubscriptions.LPCR_CAUnitaire__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countSubscriptions</targetReference>
        </connector>
    </assignments>
    <description>Flux permettant de populer le champ Valeur Globale en additionnant les montants du champ CA Unitaire des lignes d&apos;abonnement associées.</description>
    <interviewLabel>FLOW_ValeurGlobale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_ValeurGlobale</label>
    <loops>
        <name>countSubscriptions</name>
        <label>countSubscriptions</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>curContractSubscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumSubscriptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Subscriptions_Records</name>
        <label>Get Subscriptions Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countSubscriptions</targetReference>
        </connector>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curContractID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <outputReference>curContractSubscriptions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LPCR_CAUnitaire__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curContractID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LPCR_TotaleGlobalePlanFacture__c</field>
            <value>
                <elementReference>TotalSubscriptions</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subscriptions_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curContractSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>TotalSubscriptions</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
