force-app/main/default/flows/FLOW_BonAchat_EnvoiBonAchat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Creation_Accord</name>
        <label>Création Accord</label>
        <locationX>979</locationX>
        <locationY>194</locationY>
        <actionName>echosign_dev1__AgreementTemplateLoadInvocableAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OuvrirAccord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErreurRecuperation</targetReference>
        </faultConnector>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>masterId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>agreementId</assignToReference>
            <name>agreementId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Ouvrir la page de l&apos;accord Adobe sign généré</description>
        <name>OuvrirAccord</name>
        <label>Ouvrir l&apos;accord</label>
        <locationX>1165</locationX>
        <locationY>195</locationY>
        <actionName>c:RedirectDetailPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>IDTemplateNonNull</name>
        <label>Id Template non null</label>
        <locationX>632</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>ErreurRecuperation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Nonnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Accord</targetReference>
            </connector>
            <label>Non null</label>
        </rules>
    </decisions>
    <description>envoi d&apos;un bon d&apos;achat partenaire pour signature</description>
    <interviewLabel>FLOW_BonAchat_Envoi BonAchat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_BonAchat_Envoi BonAchat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>RecuperationIDTemplateBonAchat</name>
        <label>Récup ID Template Bon d&apos;achat</label>
        <locationX>320</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IDTemplateNonNull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErreurRecuperation</targetReference>
        </faultConnector>
        <object>LPCR_IDsCongaAdobe__c</object>
        <outputAssignments>
            <assignToReference>templateId</assignToReference>
            <field>LPCR_AATBON_ACHAT_PARTENAIRE__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ErreurRecuperation</name>
        <label>Une erreur s&apos;est produite</label>
        <locationX>814</locationX>
        <locationY>562</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageErreur</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>36</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>RecuperationIDTemplateBonAchat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID du devis</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id du template d&apos;accord</description>
        <name>templateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
