force-app/main/default/flows/FLOW_DemandeCreerBonAchat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ContratsPartenairesNonVides</name>
        <label>Contrats Partenaires non vides</label>
        <locationX>902</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>PasContratPartenaireActif</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>ListeNonVide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecuperationContratsPartenaires</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectionContratPartenaire</targetReference>
            </connector>
            <label>Liste non vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>CrecheNonVide</name>
        <label>CrecheNonVide</label>
        <locationX>508</locationX>
        <locationY>111</locationY>
        <defaultConnector>
            <targetReference>CrecheVide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Creche_1_non_vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecuperationDemande.LPCR_ChoixN1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectionCreche</targetReference>
            </connector>
            <label>Crèche 1 non vide</label>
        </rules>
    </decisions>
    <description>création d&apos;un bon d&apos;achat partenaire à partir d&apos;une demande réseau grandir</description>
    <dynamicChoiceSets>
        <name>ChoixContratPartenaire</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>LPCR_Compte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdComptePartenaire</elementReference>
            </value>
        </filters>
        <filters>
            <field>LPCR_Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </filters>
        <object>LPCR_ContratPartenaire__c</object>
        <outputAssignments>
            <assignToReference>IdContratPartenaire</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdContactPartenaire</assignToReference>
            <field>LPCR_ContactPartenaire__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NbBonsAchats</assignToReference>
            <field>LPCR_NombreBonsAchat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumeroContratPartenaire</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Creche1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecuperationDemande.LPCR_ChoixN1__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DateFinPrestation</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!RecuperationDemande.LPCR_DateNaissance__c}),NULL,DATE(YEAR({!RecuperationDemande.LPCR_DateNaissance__c})+3,8,31))</expression>
    </formulas>
    <formulas>
        <name>NumeroBonAchat</name>
        <dataType>String</dataType>
        <expression>{!NumeroContratPartenaire}&amp;&apos;.&apos;&amp;TEXT({!NbBonsAchats}+1)</expression>
    </formulas>
    <interviewLabel>FLOW_Demande_Créer Bon d&apos;achat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nouveau bon d&apos;achat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreationBonAchat</name>
        <label>Création bon d&apos;achat</label>
        <locationX>1197</locationX>
        <locationY>309</locationY>
        <faultConnector>
            <targetReference>ErreurCreationBonAchat</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LPCR_Client__c</field>
            <value>
                <elementReference>RecuperationDemande.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Commentaire__c</field>
            <value>
                <elementReference>RecuperationDemande.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ComptePartenaire__c</field>
            <value>
                <elementReference>IdComptePartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContactEnfant__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_Enfant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContactLPCR__c</field>
            <value>
                <elementReference>IdContactLPCR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContactPartenaire__c</field>
            <value>
                <elementReference>IdContactPartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContratPartenaire__c</field>
            <value>
                <elementReference>IdContratPartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContratReservataire__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_ContratEntreprise__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Creche__c</field>
            <value>
                <elementReference>Creche1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DateDebutFacturation__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_DateEntreeSouhaitee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DateDebutPrestation__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_DateEntreeSouhaitee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DateFinPrestation__c</field>
            <value>
                <elementReference>DateFinPrestation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Demande__c</field>
            <value>
                <elementReference>RecuperationDemande.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_NombreJoursSemaine__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_NombreJoursSemaine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_PrixAchat__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_PrixAchat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_PrixVente__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_PrixVente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Statut__c</field>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NumeroBonAchat</elementReference>
            </value>
        </inputAssignments>
        <object>LPCR_BonAchatPartenaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RecuperationContratsPartenaires</name>
        <label>Récupération Contrats Partenaires</label>
        <locationX>773</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContratsPartenairesNonVides</targetReference>
        </connector>
        <filters>
            <field>LPCR_Compte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdComptePartenaire</elementReference>
            </value>
        </filters>
        <filters>
            <field>LPCR_Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LPCR_ContratPartenaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecuperationDemande</name>
        <label>Récupération Demande</label>
        <locationX>396</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrecheNonVide</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecuperationIdComptePartenaire</name>
        <label>Récupération Id Compte Partenaire</label>
        <locationX>633</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecuperationContratsPartenaires</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NomCreche</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdComptePartenaire</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CrecheVide</name>
        <label>Crèche vide</label>
        <locationX>782</locationX>
        <locationY>104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CrecheVideTexte</name>
            <fieldText>&lt;p&gt;Veuillez sélectionner une crèche dans le champ Choix de Crèche 1&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreurCreationBonAchat</name>
        <label>Erreur lors de la création du bon d&apos;achat</label>
        <locationX>1207</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErreurMessage</name>
            <fieldText>&lt;p&gt;Une erreur s&apos;est produite lors de la création du bon d&apos;achat:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PasContratPartenaireActif</name>
        <label>Pas de contrat partenaire actif</label>
        <locationX>912</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PasDeContratMessage</name>
            <fieldText>&lt;p&gt;Il n&apos;y a pas de contrat de partenariat actif sur le compte partenaire associée à la crèche sélectionnée.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectionContratPartenaire</name>
        <label>Sélection du contrat partenaire</label>
        <locationX>1083</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreationBonAchat</targetReference>
        </connector>
        <fields>
            <name>ContratPartenaire</name>
            <choiceReferences>ChoixContratPartenaire</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contrat Partenaire</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectionCreche</name>
        <label>Sélection de la crèche</label>
        <locationX>516</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecuperationIdComptePartenaire</targetReference>
        </connector>
        <fields>
            <name>NomCreche</name>
            <choiceReferences>Creche1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nom de la crèche</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>90</locationY>
        <connector>
            <targetReference>RecuperationDemande</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdComptePartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContactLPCR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContactPartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContratPartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nombre de bons d&apos;achats existants</description>
        <name>NbBonsAchats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumeroContratPartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id de la demande depuis laquelle est lancé le flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
