force-app/main/default/flows/FLOW_DemandeCreerBonAchat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ContratsPartenairesNonVides</name>
        <label>Contrats Partenaires non vides</label>
        <locationX>882</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>PasContratPartenaireActif</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>ListeNonVide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecuperationContratsPartenaires</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectionContratPartenaire</targetReference>
            </connector>
            <label>Liste non vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>CrecheNonVide</name>
        <label>CrecheNonVide</label>
        <locationX>507</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>CrecheVide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Creche_1_non_vide</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecuperationDemande.LPCR_ChoixN1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecuperationDemande.LPCR_ChoixN2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecuperationDemande.LPCR_ChoixN3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectionCreche</targetReference>
            </connector>
            <label>Crèche non vide</label>
        </rules>
    </decisions>
    <description>création d&apos;un bon d&apos;achat partenaire à partir d&apos;une demande réseau grandir</description>
    <dynamicChoiceSets>
        <name>ChoixContratPartenaire</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>LPCR_Compte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdComptePartenaire</elementReference>
            </value>
        </filters>
        <filters>
            <field>LPCR_Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <filters>
            <field>LPCR_Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminé</stringValue>
            </value>
        </filters>
        <object>LPCR_ContratPartenaire__c</object>
        <outputAssignments>
            <assignToReference>IdContratPartenaire</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdContactPartenaire</assignToReference>
            <field>LPCR_ContactPartenaire__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NbBonsAchats</assignToReference>
            <field>LPCR_NombreBonsAchat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumeroContratPartenaire</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoixCreche</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecuperationDemande.LPCR_ChoixN1__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecuperationDemande.LPCR_ChoixN2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecuperationDemande.LPCR_ChoixN3__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DateFinPrestation</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!RecuperationDemande.LPCR_DateNaissance__c}),NULL,DATE(YEAR({!RecuperationDemande.LPCR_DateNaissance__c})+3,8,31))</expression>
    </formulas>
    <formulas>
        <name>NumeroBonAchat</name>
        <dataType>String</dataType>
        <expression>{!NumeroContratPartenaire}&amp;&apos;.&apos;&amp;TEXT({!NbBonsAchats}+1)</expression>
    </formulas>
    <interviewLabel>FLOW_Demande_Créer Bon d&apos;achat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nouveau bon d&apos;achat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreationBonAchat</name>
        <label>Création bon d&apos;achat</label>
        <locationX>1157</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>MAJStatutDemande</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErreurCreationBonAchat</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LPCR_Client__c</field>
            <value>
                <elementReference>RecuperationDemande.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Commentaire__c</field>
            <value>
                <elementReference>RecuperationDemande.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ComptePartenaire__c</field>
            <value>
                <elementReference>IdComptePartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContactEnfant__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_Enfant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContactLPCR__c</field>
            <value>
                <elementReference>IdContactLPCR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContactPartenaire__c</field>
            <value>
                <elementReference>IdContactPartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContratPartenaire__c</field>
            <value>
                <elementReference>IdContratPartenaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContratReservataire__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_ContratEntreprise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Creche__c</field>
            <value>
                <elementReference>ChoixCreche</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DateDebutFacturation__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_DateEntreeSouhaitee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DateDebutPrestation__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_DateEntreeSouhaitee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DateFinPrestation__c</field>
            <value>
                <elementReference>DateFinPrestation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Demande__c</field>
            <value>
                <elementReference>RecuperationDemande.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DevisReservataire__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_DevisReservataire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_NombreJoursSemaine__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_NombreJoursSemaine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_PrixAchat__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_PrixAchat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_PrixVente__c</field>
            <value>
                <elementReference>RecuperationDemande.LPCR_PrixVente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Revalorisation25__c</field>
            <value>
                <elementReference>RecuperationContratsPartenaires.LPCR_Revalorisation25__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Statut__c</field>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NumeroBonAchat</elementReference>
            </value>
        </inputAssignments>
        <object>LPCR_BonAchatPartenaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RecuperationContratsPartenaires</name>
        <label>Récupération Contrats Partenaires</label>
        <locationX>774</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContratsPartenairesNonVides</targetReference>
        </connector>
        <filters>
            <field>LPCR_Compte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdComptePartenaire</elementReference>
            </value>
        </filters>
        <filters>
            <field>LPCR_Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </filters>
        <filters>
            <field>LPCR_Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LPCR_ContratPartenaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecuperationDemande</name>
        <label>Récupération Demande</label>
        <locationX>404</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrecheNonVide</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LPCR_ChoixN1__c</queriedFields>
        <queriedFields>LPCR_ChoixN2__c</queriedFields>
        <queriedFields>LPCR_ChoixN3__c</queriedFields>
        <queriedFields>LPCR_DateNaissance__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>LPCR_PrixAchat__c</queriedFields>
        <queriedFields>LPCR_PrixVente__c</queriedFields>
        <queriedFields>LPCR_Enfant__c</queriedFields>
        <queriedFields>LPCR_DateEntreeSouhaitee__c</queriedFields>
        <queriedFields>LPCR_NombreJoursSemaine__c</queriedFields>
        <queriedFields>LPCR_ContratEntreprise__c</queriedFields>
        <queriedFields>LPCR_DevisReservataire__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecuperationIdComptePartenaire</name>
        <label>Récupération Id Compte Partenaire</label>
        <locationX>640</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecuperationContratsPartenaires</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NomCreche</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdComptePartenaire</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MAJStatutDemande</name>
        <label>MAJ Statut Demande</label>
        <locationX>1265</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Succes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErreurCreationBonAchat_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecuperationDemande.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Edition bon d’achat</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>CrecheVide</name>
        <label>Crèche vide</label>
        <locationX>729</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CrecheVideTexte</name>
            <fieldText>&lt;p&gt;Veuillez sélectionner au moins un choix de crèche.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreurCreationBonAchat</name>
        <label>Erreur lors de la création du bon d&apos;achat</label>
        <locationX>1061</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErreurMessage</name>
            <fieldText>&lt;p&gt;Une erreur s&apos;est produite lors de la création du bon d&apos;achat:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreurCreationBonAchat_0</name>
        <label>Erreur lors de la mise à jour de la demande</label>
        <locationX>1284</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErreurMessage2</name>
            <fieldText>&lt;p&gt;Une erreur s&apos;est produite lors de la mise à jour du statut de la demande:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PasContratPartenaireActif</name>
        <label>Pas de contrat partenaire actif</label>
        <locationX>885</locationX>
        <locationY>454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PasDeContratMessage</name>
            <fieldText>&lt;p&gt;Aucun contrat partenaire non annulé et non terminé n&apos;a été trouvé sur le compte partenaire lié à la crèche.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectionContratPartenaire</name>
        <label>Sélection du contrat partenaire</label>
        <locationX>1066</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreationBonAchat</targetReference>
        </connector>
        <fields>
            <name>ContratPartenaire</name>
            <choiceReferences>ChoixContratPartenaire</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contrat Partenaire</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectionCreche</name>
        <label>Sélection de la crèche</label>
        <locationX>517</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecuperationIdComptePartenaire</targetReference>
        </connector>
        <fields>
            <name>NomCreche</name>
            <choiceReferences>ChoixCreche</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nom de la crèche</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Succes</name>
        <label>Succès</label>
        <locationX>1378</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreationTerminer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;Le bon d&apos;achat &lt;a href=&quot;/{!CreationBonAchat}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 109, 204); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;{!NumeroBonAchat}&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;a été créé avec succès.&lt;/p&gt;&lt;p&gt;Cliquer sur Terminer pour terminer le processus.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>RecuperationDemande</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdComptePartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContactLPCR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContactPartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContratPartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nombre de bons d&apos;achats existants</description>
        <name>NbBonsAchats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumeroContratPartenaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id de la demande depuis laquelle est lancé le flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
