force-app/main/default/flows/FLOW_ContratPartenaire_CreationAvenant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>FLOW_ContratPartenaire_Création Avenant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_ContratPartenaire_Création Avenant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreationAvenant</name>
        <label>Création Avenant</label>
        <locationX>599</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Succes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erreur</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LPCR_CDDCDI__c</field>
            <value>
                <elementReference>ValeurCDDCDI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_CodePostal__c</field>
            <value>
                <elementReference>CodePostal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Compte__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContactPartenaire__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContratPrincipal__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DateDebut__c</field>
            <value>
                <elementReference>DateDebut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_DateFin__c</field>
            <value>
                <elementReference>DateFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Opportunite__c</field>
            <value>
                <elementReference>CreationOpportunite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Revalorisation25__c</field>
            <value>
                <elementReference>Revalorisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Rue__c</field>
            <value>
                <elementReference>Rue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Statut__c</field>
            <value>
                <stringValue>Brouillon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_TypeContrat__c</field>
            <value>
                <stringValue>Avenant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_TypeReconduction__c</field>
            <value>
                <elementReference>ValeurTypeReconduction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Ville__c</field>
            <value>
                <elementReference>Ville</elementReference>
            </value>
        </inputAssignments>
        <object>LPCR_ContratPartenaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreationOpportunite</name>
        <label>Création Opportunité</label>
        <locationX>408</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>CreationAvenant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErreurOpportunite</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DateDebut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Avenant Contrat Partenaire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospection/Découverte</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>RecupererContrat</name>
        <label>Récupérer Contrat en Cours</label>
        <locationX>132</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NouvelAvenant</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LPCR_ContratPartenaire__c</object>
        <outputAssignments>
            <assignToReference>CodePostal</assignToReference>
            <field>LPCR_CodePostal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>LPCR_Compte__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>LPCR_ContactPartenaire__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Revalorisation</assignToReference>
            <field>LPCR_Revalorisation25__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Rue</assignToReference>
            <field>LPCR_Rue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Ville</assignToReference>
            <field>LPCR_Ville__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Erreur</name>
        <label>Erreur</label>
        <locationX>852</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErreurCreationAvenant</name>
            <defaultValue>
                <stringValue>Une erreur s&apos;est produite lors de la création de l&apos;avenant : {!$Flow.FaultMessage}</stringValue>
            </defaultValue>
            <fieldText>Erreur lors de la création</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreurOpportunite</name>
        <label>Erreur Opportunité</label>
        <locationX>539</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErreurCreationOpportunite</name>
            <defaultValue>
                <stringValue>Une erreur s&apos;est produite lors de la création de l&apos;opportunité : {!$Flow.FaultMessage}</stringValue>
            </defaultValue>
            <fieldText>Erreur lors de la création</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NouvelAvenant</name>
        <label>Nouvel Avenant</label>
        <locationX>257</locationX>
        <locationY>36</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreationOpportunite</targetReference>
        </connector>
        <fields>
            <name>CDD_CDI</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>LPCR_ContratPartenaire__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>LPCR_CDDCDI__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>LPCR_TypeReconduction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>CDD/CDI</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Type de reconduction</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ValeurCDDCDI</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValeurTypeReconduction</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DateDebut</name>
            <dataType>Date</dataType>
            <fieldText>Date de début</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DateFin</name>
            <dataType>Date</dataType>
            <fieldText>Date de fin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Succes</name>
        <label>Succès</label>
        <locationX>863</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageSuccess</name>
            <defaultValue>
                <stringValue>L&apos;avenant a été créé avec succès.</stringValue>
            </defaultValue>
            <fieldText>Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>17</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>RecupererContrat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CodePostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id du contrat partenaire</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Revalorisation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValeurCDDCDI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValeurTypeReconduction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ville</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
