force-app/main/default/flows/FLOW_RevenueTransaction_PopulateAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>571</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Order_Product_OR_Invoice_Line</name>
        <label>Order Product OR Invoice Line</label>
        <locationX>473</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>Get_Id_Invoice_from_Invoice_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Order_Product_non_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Id_from_Order_Product</targetReference>
            </connector>
            <label>Order Product non null</label>
        </rules>
        <rules>
            <name>Credit_Note_Line_non_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CN_From_CNL</targetReference>
            </connector>
            <label>Credit Note Line non null</label>
        </rules>
    </decisions>
    <description>Flux pour attacher le compte sur l&apos;enregistrement de transaction de chiffre d&apos;affaire.</description>
    <interviewLabel>FLOW_RevenueTransaction_PopulateAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_RevenueTransaction_PopulateAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Id_from_Invoice</name>
        <label>Get Account Id from Invoice</label>
        <locationX>571</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>blng__Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Id_from_Order</name>
        <label>Get Account Id from Order</label>
        <locationX>283</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CN_From_CNL</name>
        <label>Get CN From CNL</label>
        <locationX>821</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Account_ID_from_the_CN</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__CreditNoteLine__c</elementReference>
            </value>
        </filters>
        <object>blng__CreditNoteLine__c</object>
        <outputAssignments>
            <assignToReference>CreditNoteId</assignToReference>
            <field>blng__CreditNote__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Id_Invoice_from_Invoice_Line</name>
        <label>Get Id Invoice from Invoice Line</label>
        <locationX>571</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Id_from_Invoice</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__c</elementReference>
            </value>
        </filters>
        <object>blng__InvoiceLine__c</object>
        <outputAssignments>
            <assignToReference>InvoiceId</assignToReference>
            <field>blng__Invoice__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Id_from_Order_Product</name>
        <label>Get Order Id from Order Product</label>
        <locationX>283</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Id_from_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>OrderId</assignToReference>
            <field>OrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Account_ID_from_the_CN</name>
        <label>Get the Account ID from the CN</label>
        <locationX>820</locationX>
        <locationY>723</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditNoteId</elementReference>
            </value>
        </filters>
        <object>blng__CreditNote__c</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>blng__Account__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Product_OR_Invoice_Line</targetReference>
        </connector>
        <object>blng__RevenueTransaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreditNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
