force-app/main/default/flows/FLOW_AlerteTraitementLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AlerteNonTraitement</name>
        <label>AlerteNonTraitement</label>
        <locationX>1054</locationX>
        <locationY>653</locationY>
        <actionName>Lead.LPCR_AlerteNonTraitementLead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopLead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopLead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Lead_Famille</name>
        <label>Lead Famille</label>
        <locationX>1050</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>LoopLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>réevaluer</defaultConnectorLabel>
        <rules>
            <name>Famille</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Famille</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLead.LPCR_DateLimiteCommerce__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>tomorrowDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlerteNonTraitement</targetReference>
            </connector>
            <label>Envoi email</label>
        </rules>
    </decisions>
    <formulas>
        <name>tomorrowDay</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>FLOW_AlerteTraitementLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_AlerteTraitementLead</label>
    <loops>
        <name>LoopLead</name>
        <label>LoopLead</label>
        <locationX>749</locationX>
        <locationY>340</locationY>
        <collectionReference>getLeadRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lead_Famille</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getLeadRecord</name>
        <label>getLeadRecord</label>
        <locationX>488</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LPCR_PasActivite__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>LPCR_DateLimiteCommerce__c</queriedFields>
        <queriedFields>LPCR_ManagerEmail__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>getLeadRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LPCR_PasActivite__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-11-03</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>corpMail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour, &lt;/p&gt;&lt;p&gt;Merci de traiter rapidement ce lead.&lt;/p&gt;&lt;p&gt;Merci&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailExpediteur</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;milan.andres@iscparis.com&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>objetEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Lead à traiter&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DueDateSalesProcessing</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
