mdapiEYH/flows/LPCR_NouveauContratAccueil.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RedirectToDetailPage</name>
        <label>RedirectToDetailPage</label>
        <locationX>1030</locationX>
        <locationY>62</locationY>
        <actionName>c:RedirectDetailPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>QuoteID</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>302</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Informations_Opportunite_Devis</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>StageFamille</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LPCR_EtapeFamille__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Nouveau Contrat D&#39;accueil {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nouveau Contrat D&#39;accueil</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creer_Devis</name>
        <label>Créer Devis</label>
        <locationX>849</locationX>
        <locationY>62</locationY>
        <assignRecordIdToReference>QuoteID</assignRecordIdToReference>
        <connector>
            <targetReference>RedirectToDetailPage</targetReference>
        </connector>
        <inputAssignments>
            <field>LPCR_ContactRepresentant1__c</field>
            <value>
                <elementReference>Representant1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_ContactRepresentant2__c</field>
            <value>
                <elementReference>Representant2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LPCR_Creche__c</field>
            <value>
                <elementReference>Creche.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>NomCompte.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__EndDate__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Creer_Opportunite</name>
        <label>Créer l&#39;opportunité</label>
        <locationX>676</locationX>
        <locationY>62</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>Creer_Devis</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NomCompte.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nom_opportunite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Informations_Opportunite_Devis</name>
        <label>Informations Opportunité et Devis</label>
        <locationX>502</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creer_Opportunite</targetReference>
        </connector>
        <fields>
            <name>Details_Opportunite</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Détails Opportunité&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NomCompte</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Compte Famille</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Nom_opportunite</name>
            <dataType>String</dataType>
            <fieldText>Nom de l&#39;opportunité</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date de clôture</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>StageFamille</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Etape</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DetailsDevis</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Détails Devis&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <fieldText>Date de Début</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndDate</name>
            <dataType>Date</dataType>
            <fieldText>Date de Fin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Creche</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LPCR_Creche__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Crèche</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Representant1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LPCR_ContactRepresentant1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Représentant 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Representant2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LPCR_ContactRepresentant2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Représentant 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Assign_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpptyRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
